**Feature Scaling**

In [2]:
import pandas as pd
from scipy import stats
import numpy as np

In [3]:
df=pd.read_csv(r"D:\ds\EXNO-4-DS\bmi.csv")
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [4]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [5]:
df.dropna()

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [6]:
# TYPE CODE TO FIND MAXIMUM VALUE FROM HEIGHT AND WEIGHT FEATURE
maxHeight = np.max(df["Height"])
maxWeight = np.max(df["Weight"])
print(maxHeight)
print(maxWeight)

199
160

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
#Perform minmax scaler
dfmms = df.copy()
scaler = MinMaxScaler()
dfmms[['Height', 'Weight']]=scaler.fit_transform(df[["Height", "Weight"]])
dfmms

     Gender    Height    Weight  Index
0      Male  0.576271  0.418182      4
1      Male  0.830508  0.336364      2
2    Female  0.762712  0.545455      4
3    Female  0.932203  0.490909      3
4      Male  0.152542  0.100000      3
..      ...       ...       ...    ...
495  Female  0.169492  0.936364      5
496  Female  0.745763  0.645455      4
497  Female  0.016949  0.781818      5
498    Male  0.169492  0.409091      5
499    Male  0.559322  0.736364      5

[500 rows x 4 columns]

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
#Perform standard scaler
dfsc=df.copy()
scaler=StandardScaler()
dfsc[["Weight", "Height"]]=scaler.fit_transform(dfsc[["Weight", "Height"]])
dfsc

     Gender    Height    Weight  Index
0      Male  0.247939 -0.309117      4
1      Male  1.164872 -0.587322      2
2    Female  0.920357  0.123647      4
3    Female  1.531645 -0.061823      3
4      Male -1.280283 -1.391027      3
..      ...       ...       ...    ...
495  Female -1.219155  1.452850      5
496  Female  0.859228  0.463676      4
497  Female -1.769315  0.927351      5
498    Male -1.219155 -0.340029      5
499    Male  0.186810  0.772793      5

[500 rows x 4 columns]

In [11]:
from sklearn.preprocessing import Normalizer

In [12]:
#Perform Normalizer
scaler=Normalizer() 
dfn=df.copy()
dfn[["Weight", "Height"]]=scaler.fit_transform(dfn[["Weight", "Height"]])
dfn

     Gender    Height    Weight  Index
0      Male  0.875578  0.483077      4
1      Male  0.908381  0.418144      2
2    Female  0.859536  0.511075      4
3    Female  0.882353  0.470588      3
4      Male  0.925448  0.378875      3
..      ...       ...       ...    ...
495  Female  0.700071  0.714073      5
496  Female  0.835527  0.549450      4
497  Female  0.719753  0.694230      5
498    Male  0.844819  0.535052      5
499    Male  0.797227  0.603680      5

[500 rows x 4 columns]

In [13]:
from sklearn.preprocessing import MaxAbsScaler

In [14]:
#Perform MaxAbsScaler
mas=MaxAbsScaler() 
dfmas=df.copy() 
dfmas[["Weight", "Height"]]=scaler.fit_transform(dfmas[["Weight", "Height"]])
dfmas

     Gender    Height    Weight  Index
0      Male  0.875578  0.483077      4
1      Male  0.908381  0.418144      2
2    Female  0.859536  0.511075      4
3    Female  0.882353  0.470588      3
4      Male  0.925448  0.378875      3
..      ...       ...       ...    ...
495  Female  0.700071  0.714073      5
496  Female  0.835527  0.549450      4
497  Female  0.719753  0.694230      5
498    Male  0.844819  0.535052      5
499    Male  0.797227  0.603680      5

[500 rows x 4 columns]

In [15]:
from sklearn.preprocessing import RobustScaler

In [16]:
#Perform RobustScaler
rs=RobustScaler() 
dfrs=df.copy() 
dfrs[["Weight", "Height"]]=scaler.fit_transform(dfrs[["Weight", "Height"]])
dfrs

     Gender    Height    Weight  Index
0      Male  0.875578  0.483077      4
1      Male  0.908381  0.418144      2
2    Female  0.859536  0.511075      4
3    Female  0.882353  0.470588      3
4      Male  0.925448  0.378875      3
..      ...       ...       ...    ...
495  Female  0.700071  0.714073      5
496  Female  0.835527  0.549450      4
497  Female  0.719753  0.694230      5
498    Male  0.844819  0.535052      5
499    Male  0.797227  0.603680      5

[500 rows x 4 columns]

In [38]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import RidgeCV, LassoCV, Ridge, Lasso
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import mutual_info_regression
from sklearn.feature_selection import chi2
from sklearn.preprocessing import LabelEncoder

In [18]:
df=pd.read_csv(r"D:\ds\EXNO-4-DS\titanic_dataset.csv")

In [19]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [20]:
df.shape

(891, 12)

In [21]:
X = df.drop("Survived", axis=1)       # feature matrix
y = df['Survived']

In [22]:
#drop the following columns -"Name", "Sex", "Ticket", "Cabin", "Embarked" and store it in df1
df1=df.drop(["Name", "Sex", "Ticket", "Cabin","Embarked"], axis=1)

In [23]:
df1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [24]:
df1['Age'].isnull().sum()

np.int64(177)

In [25]:
#fill null values of age column using forward fill method
df1["Age"] = df1["Age"].ffill()

In [26]:
df1['Age'].isnull().sum()

np.int64(0)

In [27]:
feature=SelectKBest(mutual_info_classif,k=3)

In [28]:
df1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [30]:
#Replace the columns from  ['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'] to ['PassengerId', 'Fare', 'Pclass', 'Age', 'SibSp', 'Parch', 'Survived']
new_cols=['PassengerId', 'Fare', 'Pclass', 'Age', 'SibSp', 'Parch', 'Survived']

df1=df1[new_cols]
df1

     PassengerId     Fare  Pclass   Age  SibSp  Parch  Survived
0              1   7.2500       3  22.0      1      0         0
1              2  71.2833       1  38.0      1      0         1
2              3   7.9250       3  26.0      0      0         1
3              4  53.1000       1  35.0      1      0         1
4              5   8.0500       3  35.0      0      0         0
..           ...      ...     ...   ...    ...    ...       ...
886          887  13.0000       2  27.0      0      0         0
887          888  30.0000       1  19.0      0      0         1
888          889  23.4500       3  19.0      1      2         0
889          890  30.0000       1  26.0      0      0         1
890          891   7.7500       3  32.0      0      0         0

[891 rows x 7 columns]

In [31]:
X=df1.iloc[:,0:6]
y=df1.iloc[:,6]

In [32]:
X.columns

Index(['PassengerId', 'Fare', 'Pclass', 'Age', 'SibSp', 'Parch'], dtype='object')

In [33]:
y=y.to_frame()

In [34]:
y.columns

Index(['Survived'], dtype='object')

In [35]:
X = df1.drop("Survived", axis=1)       # feature matrix
y = df1['Survived']

In [36]:
feature.fit(X,y)

SelectKBest(k=3,
            score_func=<function mutual_info_classif at 0x000002758411B4C0>)

In [40]:
#perform feature selections techniques
df = df.dropna(subset=['Sex', 'Embarked'])

df['sexle'] = LabelEncoder().fit_transform(df['Sex'])
df['embarkedle'] = LabelEncoder().fit_transform(df['Embarked'])

X_cat = df[['Pclass', 'sexle', 'embarkedle']]
y = df['Survived']

chi_selector = SelectKBest(score_func=chi2, k='all')
chi_selector.fit(X_cat, y)

chi_scores = pd.DataFrame({
    'Feature': X_cat.columns,
    'Chi2 Score': chi_selector.scores_,
    'P-Value': chi_selector.pvalues_
}).sort_values(by='P-Value')

print(chi_scores)

      Feature  Chi2 Score       P-Value
1       sexle   91.514037  1.108034e-21
0      Pclass   30.135266  4.029368e-08
2  embarkedle   10.451601  1.225432e-03